html {
  font-size: 15px;
}

/* boqueados */

.bloqueo {
  display: none;
}

/* Barra de navegacion */
.navbar {
  padding: 0.5rem;
  background-color: hsl(216, 59%, 18%);
  font-size: 1.2rem;
}

.navbar-social {
  font-size: 2.2rem;
}
/* .seccion-base {
  clip-path: inset(20% 0% 30% 0%);
  object-fit: contain;
} */

.sin-margen {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.fondo-azul {
  background-color: #13294a;
}

.columna {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* clases Banner */
.banner-horizontal{

}

.banner-vertical {
  display: none;
}
/* Novedades */

.novedades h1 {
  font-size: 5rem;
  height: fit-content;
}

/* seccion encuentros */

.encuentros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.encuentros div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deportes {
  padding: 1rem;
  margin: 3px;
  height: 320px;
  width: 320px;
  border-radius: 15%;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave */
}

.deportes:hover {
  background-color: #41c9ff; /* Cambia el color al pasar el mouse */
  box-shadow: 0rem 0rem 1rem white;
}

/* Croquis */

.imagen-croquis {
  align-items: center;
}

.imagen-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}






/* Estilos de Secciones */

.seccion-blanca {
  background-color: #ffffff;
  color: #13294a;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lexend", serif;
}

.seccion-oscura {
  background-color: #13294a;
  color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lexend", serif;
}



/* Divicion y cuenta regresiva */

.div-rojo {
  position: relative;
  width: 100%;
  background-color:  #13294a;
  background: linear-gradient(black, #13294a );
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20rem;
}

/* reloj */
.contenedor-reloj {
  background-color: black;
  color: white;

  color: #13294a;
  background: linear-gradient(#dee5eb,white, gray );
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0rem;
  width: 20rem;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 10%;
}

.texto-reloj {
  font-family: "Dangrek", serif;
  font-size: 3rem;
  line-height: 1;
}

.numero-reloj {
  font-size: 10rem;
  font-weight: bold;
}


/* lista de colores */
.colores {
  color: #ffcc00;
  color: #13294a;
  color: #e30000;
  color: #dee5eb;
  color: #ffffff;
}

/* Pie de paguina (footer) */
.barrido-final {
  background: linear-gradient(#13294a, black);
}

footer {
  min-height: 33rem;
}

.footer-logo {
  height: 5.3rem;
  width: 5.3rem;
  margin: 6.6rem;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 1.3rem;
  margin-bottom: 2rem;
  font-family: "Quicksand", serif;
}

.iconos-redes-sociales a {
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.13rem;
  margin: 0.66rem;
  border: 0.13rem solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 0.13rem solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 1rem;
  color: #aeaeae;
  padding: 1.33rem;
}

/* boton whatsapp */

.boton-whats{
  position: fixed;
  height: 3.33rem;
  width: 3.33rem;
  font-size: 2rem;
  border-radius: 50%;
  color: white;
  background-color: #25d366;
  bottom: 1.33rem;
  right: 1.33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave */
}

.boton-whats:hover {
  background-color: #41c9ff; /* Cambia el color al pasar el mouse */
  box-shadow: 0rem 0rem 1rem white;
}

/* boton whatsapp */

.boton-croquis{
  position: fixed;
  height: 3.33rem;
  width: 3.33rem;
  font-size: 2rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(226, 16, 16);
  bottom: 7rem;
  right: 1.33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave */
}

.boton-croquis:hover {
  background-color: #41c9ff; /* Cambia el color al pasar el mouse */
  box-shadow: 0rem 0rem 1rem white;
}

/* Laptop XL */

@media screen and (max-width: 2559px){
  html {
    font-size: 15px;
  }
}

/* Laptop L */

@media screen and (max-width: 1439px){
  html {
    font-size: 14px;
  }
  
  .banner-horizontal{
    display: inline;
  }

  .banner-vertical {
    display: none;
  }
}

/* Laptop M */

@media screen and (max-width: 1200px){
  html {
    font-size: 13px;
  }
}

/* Laptop S */

@media screen and (max-width: 1023px){
  html {
    font-size: 11px;
  }

  .div-rojo {
    height: 15rem;
    padding-bottom: 15rem;
  }

  .contenedor-reloj {
    width: 18rem;
  }
  
  .texto-reloj {
    font-size: 2.7rem;
  }
  
  .numero-reloj {
    font-size: 8.7rem;
  }
}

/* Tableta */

@media screen and (max-width: 767px){
  html {
    font-size: 13px;
  }

  .navbar-brand{
    display: none;
  }

  .banner-horizontal{
    display: none;
  }

  .banner-vertical {
    display: inline;
  }

  .div-rojo {
    height: 10rem;
    padding-bottom: 10rem;
  }

  .contenedor-reloj {
    width: 18rem;
  }
  
  .texto-reloj {
    font-size: 2.7rem;
  }
  
  .numero-reloj {
    font-size: 8.7rem;
  }

  .canto{
    padding-top: 50px;
  }
}

/* Mobile L */

@media screen and (max-width: 530px){
  html {
    font-size: 13px;
  }

  .div-rojo {
    height: 7rem;
    padding-bottom: 7rem;
  }

  .contenedor-reloj {
    width: 9rem;
  }
  
  .texto-reloj {
    font-size: 1.5rem;
  }
  
  .numero-reloj {
    font-size: 5rem;
  }

  .novedades h1 {
    font-size: 2rem;
  }
}

/* Mobile M */

@media screen and (max-width: 374px){
  html {
    font-size: 13px;
  }

  .div-rojo {
    height: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .contenedor-reloj {
    width: 6rem;
  }
  
  .texto-reloj {
    font-size: 1rem;
  }
  
  .numero-reloj {
    font-size: 2.5rem;
  }

  .novedades h1 {
    font-size: 2rem;
  }
}

/* Mobile S */

@media screen and (max-width: 319px){
  html {
    font-size: 13px;
  }

  .div-rojo {
    height: 5rem;
    padding-bottom: 5rem;
  }

  .contenedor-reloj {
    width: 5rem;
  }
  
  .texto-reloj {
    font-size: 1rem;
  }
  
  .numero-reloj {
    font-size: 2rem;
  }

  .novedades h1 {
    font-size: 1.7rem;
  }
}


/* acordeon test */

.accordion-button {
  display: flex;
  justify-content: center; /* Centra el texto del botón */
  align-items: center;
}

.image-grid {
  display: grid;
  gap: 10px; /* Espacio entre imágenes */
}

/* 3 columnas en pantallas grandes */
@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1 columna en móviles */
@media (max-width: 767.98px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.image-grid img {
  width: 600px; /* Ancho fijo */
  height: 200px; /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen sin distorsionar */
  border-radius: 8px; /* Bordes redondeados */
}

  
/* ##################################################### -----    ESTILO FUENTE CSS COPIA ----- ####################################### */


.titulo{
  color: white;
  background-color: rgb(226, 16, 16);

}
.canto {
  padding-top: 75px;
  
}
.seccion-canto{
    align-content: center;
}
.seccion-canto div{
    text-align: center;
    align-items: center;
}

div:target h2{
  color: white;
  background-color: #13294a;
}

/* boton boton-menu-lateral */

.boton-menu-lateral {
  position: fixed;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
  background-color: rgb(226, 16, 16);
  top: 7rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave */
}

.boton-menu-lateral:hover {
  background-color: #41c9ff; /* Cambia el color al pasar el mouse */
  box-shadow: 0rem 0rem 1rem white;
}

/* encuentros */

.contenedor-rol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
  text-align: center;
}

.alto-auto {
  max-width: 100%;
  height: auto;
}

.tarjeta-rol {
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 15px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); /* Sombra */
}

.tarjeta-rol:hover{
  background-color: #13294a;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 13, 70, 0.842); /* Sombra */
}


.centrado-j {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.img-fluid-mod {
  max-width: 100%;  /* La imagen no excederá el ancho de su contenedor */
  height: auto;     /* Mantiene la proporción original */
  display: block;   /* Elimina espacios fantasma en algunos navegadores */
  margin: 0 auto;   /* Centra la imagen (opcional) */
}

/* Versión para móviles (ajustes adicionales) */
@media (max-width: 768px) {
  .img-fluid {
    width: 100%;    /* Opcional: fuerza ocupar todo el ancho en móviles */
  }
}



@media screen and (max-width: 766px){
  .tarjeta-rol {
    margin: 0px;
  }
}

@media screen and (max-width: 766px){
  .canto{
    padding-top: 50px;
  }

  .boton-menu-lateral {
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
  }
}

@media screen and (max-width: 766px){
  .canto{
    padding-top: 50px;
  }

  .boton-menu-lateral {
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
  }
}